{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Album</title>
    <link rel="stylesheet" href="{% static 'css/album.css' %}" />
  </head>
  <body>
    <header class="page-header">
      <div class="container">
        <h1><a href="/">Album</a></h1>
      </div>
    </header>

    {% for post in posts %}
    <article class="album_card">
      <time>published: {{ Album.created_at }}</time>
      <h2><a href="">{{ Album.title }}</a></h2>
      <p>{{ Album.artist }}</p>
    </article>
    {% endfor %}
  </body>
</html>
