{% extends 'album/base.html' %} {% block content %}
<h1>Album: {{ album.title }}</h1>
<p>Artist: {{ album.artist }}</p>
<aside class="actions">
  {% if user.is_authenticated %}
  <a class="btn btn-secondary" href="{% url 'album_edit' pk=album.pk %}">
    {% include './icons/pencil-fill.svg' %}
  </a>
  <a class="btn btn-default" href="{% url 'album_remove' pk=album.pk %}">
    {% include './icons/x-square.svg' %}<input type="submit" value="Delete" onclick="return confirm('Confirm, please.');"></a>
  {% endif %}
</aside>
{% endblock %}
